
set_io clk B7

# Tile 1
set_io -nowarn  tile1[0] F1
set_io -nowarn  tile1[1] F2
set_io -nowarn  tile1[2] F4
set_io -nowarn  tile1[3] F3
set_io -nowarn  tile1[4] G1
set_io -nowarn  tile1[5] G2
set_io -nowarn  tile1[6] G3
set_io -nowarn  tile1[7] H3
set_io -nowarn  tile1[8] H1
set_io -nowarn  tile1[9] H2
set_io -nowarn  tile1[10] J1
set_io -nowarn  tile1[11] K1

# Tile 2
set_io -nowarn  tile2[0] K11
set_io -nowarn  tile2[1] H10
set_io -nowarn  tile2[2] J10
set_io -nowarn  tile2[3] G8
set_io -nowarn  tile2[4] H11
set_io -nowarn  tile2[5] G10
set_io -nowarn  tile2[6] D9
set_io -nowarn  tile2[7] E11
set_io -nowarn  tile2[8] G9
set_io -nowarn  tile2[9] G11
set_io -nowarn  tile2[10] F10
set_io -nowarn  tile2[11] F9

# Tile 3
set_io -nowarn tile3[0] B1
set_io -nowarn  tile3[1] B2
set_io -nowarn  tile3[2] C4
set_io -nowarn  tile3[3] C3
set_io -nowarn  tile3[4] C2
set_io -nowarn  tile3[5] C1
set_io -nowarn  tile3[6] E1
set_io -nowarn  tile3[7] D1
set_io -nowarn  tile3[8] D2
set_io -nowarn  tile3[9] D3
set_io -nowarn  tile3[10] E2
set_io -nowarn  tile3[11] E3

# Tile 4
set_io -nowarn  tile4[0] A9
set_io -nowarn  tile4[1] C8
set_io -nowarn  tile4[2] A8
set_io -nowarn  tile4[3] C7
set_io -nowarn  tile4[4] A6
set_io -nowarn  tile4[5] A5
set_io -nowarn  tile4[6] A2
set_io -nowarn  tile4[7] A3
set_io -nowarn  tile4[8] F11
set_io -nowarn  tile4[9] E9
set_io -nowarn  tile4[10] E10
set_io -nowarn  tile4[11] E8

# BLADE 1
set_io -nowarn  blade1[0] K7
set_io -nowarn  blade1[1] L7
set_io -nowarn  blade1[2] J7
set_io -nowarn  blade1[3] H7
set_io -nowarn  blade1[4] L8
set_io -nowarn  blade1[5] J8

# BLADE 2
set_io -nowarn  blade2[0] B3
set_io -nowarn  blade2[1] A1
set_io -nowarn  blade2[2] A4
set_io -nowarn  blade2[3] B4
set_io -nowarn  blade2[4] B5
set_io -nowarn  blade2[5] D5

# BLADE 3
set_io -nowarn  blade3[0] D7
set_io -nowarn  blade3[1] B6
set_io -nowarn  blade3[2] A7
set_io -nowarn  blade3[3] B8
set_io -nowarn  blade3[4] B9
set_io -nowarn  blade3[5] C9

# BLADE 4
set_io -nowarn  blade4[0] D10
set_io -nowarn  blade4[1] D11
set_io -nowarn  blade4[2] C11
set_io -nowarn  blade4[3] B11
set_io -nowarn  blade4[4] A11
set_io -nowarn  blade4[5] A10

# HyperRam
#set_io -nowarn  dq[0] K3
#set_io -nowarn  dq[1] K4
#set_io -nowarn  dq[2] L1
#set_io -nowarn  dq[3] K5
#set_io -nowarn  dq[4] J3
#set_io -nowarn  dq[5] L3
#set_io -nowarn  dq[6] L4
#set_io -nowarn  dq[7] J5
#set_io -nowarn  dqk L2
#set_io -nowarn  dqr J4
#set_io -nowarn  ds0 K6

# HyperRam/Flash
set_io -nowarn hram_dq[0] K3
set_io -nowarn hram_dq[1] K4
set_io -nowarn hram_dq[2] L1
set_io -nowarn hram_dq[3] K5
set_io -nowarn hram_dq[4] J3
set_io -nowarn hram_dq[5] L3
set_io -nowarn hram_dq[6] L4
set_io -nowarn hram_dq[7] J5

set_io -nowarn hram_rwds J4
set_io -nowarn hram_ck L2

set_io -nowarn hram_cs_n[0] J2 # HyperRam
set_io -nowarn hram_cs_n[1] K2 # HyperFlash
set_io -nowarn hflsh_int_n H9 # HyperFlash

#set_io -nowarn hram_rst_n handled by STM32 when programming Ice40

# QsPie
set_io -nowarn  qd[0] J9
set_io -nowarn  qd[1] K9
set_io -nowarn  qd[2] K6
set_io -nowarn  qd[3] L5
set_io -nowarn  qck L10
set_io -nowarn  qss K10
set_io -nowarn  qdr J7

# SPI
set_io -nowarn  si K9
set_io -nowarn  so J9
set_io -nowarn  sck L10
set_io -nowarn  ss L7

# Uart
#set_io -nowarn  tx L7
#set_io -nowarn  rx K7

# LED
set_io -nowarn  led J11
# Mezzanine

#PMOD Double Tile pinouts position 1

#PMOD1A
set_io -nowarn  pm1a[0] F1
set_io -nowarn  pm1a[1] F4
set_io -nowarn  pm1a[2] G1
set_io -nowarn  pm1a[3] G3

#PMOD1B
set_io -nowarn  pm1b[0] F2
set_io -nowarn  pm1b[1] F3
set_io -nowarn  pm1b[2] G2
set_io -nowarn  pm1b[3] H3

#PMOD2A
set_io -nowarn  pm2a[0] H1
set_io -nowarn  pm2a[1] J1
set_io -nowarn  pm2a[2] B1
set_io -nowarn  pm2a[3] C4

#PMOD2B
set_io -nowarn  pm2b[0] H2
set_io -nowarn  pm2b[1] K1
set_io -nowarn  pm2b[2] B2 
set_io -nowarn  pm2b[3] C3

#PMOD3A
set_io -nowarn  pm3a[0] C2
set_io -nowarn  pm3a[1] E1 
set_io -nowarn  pm3a[2] D2
set_io -nowarn  pm3a[3] E2

#PMOD3B
set_io -nowarn  pm3b[0] C1
set_io -nowarn  pm3b[1] D1
set_io -nowarn  pm3b[2] D3
set_io -nowarn  pm3b[3] E3

#PMOD Double Tile pinouts position 2

#PMOD4A
set_io -nowarn  pm4a[0] A9
set_io -nowarn  pm4a[1] A8
set_io -nowarn  pm4a[2] A6
set_io -nowarn  pm4a[3] A2

#PMOD4B
set_io -nowarn  pm4b[0] C8
set_io -nowarn  pm4b[1] C7
set_io -nowarn  pm4b[2] A5
set_io -nowarn  pm4b[3] A3

#PMOD5A
set_io -nowarn  pm5a[0] F11
set_io -nowarn  pm5a[1] E10
set_io -nowarn  pm5a[2] K11
set_io -nowarn  pm5a[3] J10

#PMOD5B
set_io -nowarn  pm5b[0] E9
set_io -nowarn  pm5b[1] E8
set_io -nowarn  pm5b[2] H10
set_io -nowarn  pm5b[3] G8

#     BirdsEye Board view from the top looking down
#
#            Pmod1,2                   Pmod3 
#         *-------------------------------------*
#         |  Tile 1                    Tile 3   |
#         |                                     |
# Blade 1 |                                     | Blade 2
#         |                                     |
#         \                                     |
#  USB-C  |            BlackiceNxt              | Blade 3
#         /                                     |
#         |                                     |
# SD/MMC  |                                     | Blade 4
#         |                                     |
#         |  Tile 2                    Tile 4   |
#         *-------------------------------------*
#            Pmod6                    Pmod5,4
#
#    Pmod pin orders looking into the Pmod connectors
#    ___________          ___________ _____ ___________
#  A|+.-.3.2.1.0|       A|+.-.3.2.1.0|x.x.x|+.-.3.2.1.0|
#  B|+.-.3.2.1.0|       B|+.-.3.2.1.0|x.x.x|+.-.3.2.1.0|
#    -----------          ----------- ----- -----------

#PMOD6A
set_io -nowarn  pm6a[0] H11
set_io -nowarn  pm6a[1] D9
set_io -nowarn  pm6a[2] G9
set_io -nowarn  pm6a[3] F10

#PMOD6B
set_io -nowarn  pm6b[0] G10
set_io -nowarn  pm6b[1] E11
set_io -nowarn  pm6b[2] G11
set_io -nowarn  pm6b[3] F9

